@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}

.menu{
	background-color: rgb(10,161,237);
	width: 140px;
	height: 36px;
	color:#f5f5f5;
	font-size: 14px;
	font-weight: bold;
	font-family: "黑体";
	cursor:pointer;
	padding-left: 40px;
	padding-top : 5px;
	padding-right: 10px;
	margin-bottom: 15px;
	line-height:36px;
	position: relative;
	background-position: 10px center;
	background-repeat: no-repeat;
}

.cmenu1{
	background-image: url("../images/myOrder/myOrder.png");
}

.cmenu2{
	background-image: url("../images/myOrder/pcenter_icon1.png");
}

.cmenu3{
	background-image: url("../images/myOrder/pcenter_icon2.png");
}

.cmenu4{
	background-image: url("../images/myOrder/pcenter_icon3.png");
}

.submenu{
	color:#808080;
	line-height:20px;
	position:relative;
	font-size:12px;
	font-family: "黑体";
	top:-15px;
}

.submenu>li{
	padding-top: 10px;
	padding-left: 30px;
}

.menu>img{
	float: right;
	padding-top: 11px;
	padding-right: 5px;
}

.dis{						/*  隐藏  */
	display: none;
}

.dis{						/*  显示  */
	display: block;
}